@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #111;
}

.header .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #483D8B;
  font-size: 40px;
  margin: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 7px solid rgb(157, 143, 245);
  border-radius: 10px;
  width: 700px;
}

.App p {
  margin-top: 20px;
  color:#808080;
  font-size: 25px;
}

.App input {
  width: 220px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom-color: #DCDCDC;
  font-size: 15px;
  color: #dcdcdc;
  outline: none;
}

.App input:hover {
  border: 1px solid #dedede;
  transition: ease-in all 0.3s;
}

.App button {
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  color: #FFF;
  background-color: #20B2AA;
  cursor: pointer;
}

.App ul li {
  color: #808080;
  font-size: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.App .deleteButton {
  border: none;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin-left: 10px;
  color: #FFF;
  background-color: rgb(157, 143, 245);
  cursor: pointer;
}